{% extends "templates/panel-admin.html" %}

{% block page_title %}
	{% if equipo_nombre %}
		Editar {{ equipo_nombre }}
	{% else %}
		Nuevo equipo
	{% endif %}
{% endblock %}}

{% block admin_content %}
	{{fecha_str}}
	<div class="well">
		<form class="form-horizontal" role="form" action="/admin/jornadas/nuevo" method="post" onsubmit="return validateForm()">
			<div class="form-group" id="nombre-group">
				<label for="numero" class="col-sm-2 control-label">Número de la jornada</label>
				<div class="col-sm-3">
				  <input type="number" class="form-control" id="numero" name="numero" min="1"{% if jornada %} value="{{jornada.numero}}" {% else %} value="{{numero}}" {% endif %}>
				</div>
			</div>
			<div class="form-group" id="fecha-group">
				<label for="fecha" class="col-sm-2 control-label">Fecha y hora de inicio</label>
				<div class="col-sm-3">
				  <input type="datetime-local" class="form-control" id="fecha" name="fecha"{% if jornada %} value="{{fecha_str}}" {% endif %}>
				</div>
			</div>

			<h2>Partidos</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Local</th>
						<th>Goles Local</th>
						<th></th>
						<th>Goles Visitante</th>
						<th>Visitante</th>
					</tr>
				</thead>
				<tbody>
					{% if jornada %}
						{% for partido in partidos %}
						<tr>
							<td>
								<select class="form-control" name="local-{{partido.key()}}">
								  {% for equipo in equipos %}
								  	<option value="{{equipo.key()}}" {% if partido.local.nombre == equipo.nombre %} selected {% endif %}>{{equipo.nombre}}</option>
								  {% endfor %}
								</select>
							</td>
							<td>
								<input type="number" min="0" class="form-control" placeholder="Goles Local" value="goles-local-{{partido.key()}}">
							</td>
							<td>-</td>
							<td>
								<input type="number" min="0" class="form-control" placeholder="Goles Visitante" value="goles-visitante-{{partido.key()}}">
							</td>
							<td>
								<select class="form-control" name="visitante-{{partido.key()}}">
								  {% for equipo in equipos %}
								  	<option value="{{equipo.key()}}" {% if partido.visitante.nombre == equipo.nombre %} selected {% endif %}>{{equipo.nombre}}</option>
								  {% endfor %}
								</select>
							</td>
						</tr>
						{% endfor %}
					{% else %}
						{% for item in rango %}
						<tr>
							<td>
								<select class="form-control" name="local-{{item}}">
								  {% for equipo in equipos %}
								  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
								  {% endfor %}
								</select>
							</td>
							<td>
								<input type="number" min="0" class="form-control" placeholder="Goles Local" value="goles-local-{{item}}">
							</td>
							<td>-</td>
							<td>
								<input type="number" min="0" class="form-control" placeholder="Goles Visitante" value="goles-visitante-{{item}}">
							</td>
							<td>
								<select class="form-control" name="visitante-{{item}}">
								  {% for equipo in equipos %}
								  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
								  {% endfor %}
								</select>
							</td>
						</tr>
						{% endfor%}
					{% endif %}
				</tbody>
			</table>
			{% if jornada %}
			<input type="hidden" name="key" value="{{jornada.key()}}">
			{% endif%}
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">Guardar</button>
				</div>
			</div>
		</form>
		<div class="alert alert-danger" role="alert" hidden="true" id="alert">Debes insertar el nombre del equipo</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		function validateForm() {
			var valor = $("#nombre").val();
			if (valor == "") {
				$("#nombre-group").attr('class', 'form-group has-error');
				$("#alert").attr('hidden', false);
				return false;
			}
		}
	</script>	    
{% endblock%}