{% extends "templates/panel-admin.html" %}
{% block page_title %}Jornadas{% endblock %}
{% block admin_content %}

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group"><a class="btn btn-default" href="/admin/jornadas/nuevo" role="button"><span class="glyphicon glyphicon-plus"></span> Nueva Jornada</a></div>
  <div class="btn-group"><button type="button" class="btn btn-default" onclick="borrarJornadas()"><span class="glyphicon glyphicon-trash"></span> Eliminar Jornada(s)</button></div>
</div>
<br />
<table class="table table-striped" id="table">
	<thead>
  			<tr>
	  			<th><input type="checkbox" id="select-all" onclick="selectAll()"></th>
	  			<th>Jornada</th>
          <th>Fecha de Inicio</th>
          <th>Completa</th>
	  			<th></th>
          <th></th>
	  		</tr>
  	</thead>
  	<tbody>
      {% for jornada in jornadas%}
        <tr>
          <td><input type="checkbox" class="checkboxJornada" name="{{jornada.key()}}" id="check-{{jornada.key()}}"></td>
          <td>Jornada {{jornada.numero}}</td>
          <td>{% if jornada.fecha_inicio == None%} Sin asignar {% else %} {{jornada.fecha_inicio}} {% endif %}</td>
          <td></td>
          <td><a class="btn btn-default" href="/admin/jornadas/nuevo?key={{jornada.key()}}" role="button"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><button type="button" class="btn btn-default" data-toggle="modal" id="trash-link" data-id="{{jornada.key()}}" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
      {% endfor %}
  	</tbody>
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Borrar Jornada</h4>
      </div>
      <div class="modal-body">
        <p>¿Deseas borrar esta jornada?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-danger" id="accept-button" role="button">Sí, deseo borrarla</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $("#trash-link").click(function(){ // Click to only happen on announce links
      var id = $(this).data('id');
      $("#accept-button").attr('href', '/admin/jornadas/borrar?key=' + $(this).data('id'));
    });
  }); 

  function borrarJornadas() {
    var checkboxList = $(".checkboxJornada");
    var data = {};
    checkboxList.each(function(){
      var checkbox = this;
      if (checkbox.checked) {
        data[checkbox.name] = "true";
      }
    });
    $.post("/admin/equipos", data);
  }

    function selectAll() {
    var checkboxList = $(".checkboxEquipo");
    var status = $("#select-all")[0].checked;
    checkboxList.each(function() {
      var id = this.id;   
      $("#" + id).prop('checked', status);
    });
  }
</script>
{% endblock %}