{% extends "templates/panel-admin.html" %}
{% block page_title %}Equipos{% endblock %}
{% block admin_content %}

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group"><a class="btn btn-default" href="/admin/jornadas/goleadores/nuevo?jornada={{jornada_key}}" role="button"><span class="glyphicon glyphicon-plus"></span> Nuevo Goleador</a></div>
  <div class="btn-group"><button type="button" class="btn btn-default" onclick="borrarGoleadores()"><span class="glyphicon glyphicon-trash"></span> Eliminar Goleador(es)</button></div>
</div>
<br />
<table class="table table-striped" id="table">
	<thead>
  			<tr>
	  			<th><input type="checkbox" id="select-all" onclick="selectAll()"></th>
	  			<th>Nombre</th>
          <th>Demarcación</th>
          <th>Goles</th>
	  			<th></th>
          <th></th>
	  		</tr>
  	</thead>
  	<tbody>
      {% for goleador in goleadores %}
        <tr>
          <td><input type="checkbox" class="checkboxGoleador" name="{{goleador.key()}}" id="check-{{goleador.key()}}"></td>
          <td>{{goleador.jugador.nombre}}</td>
          <td>{{goleador.jugador.demarcacion}}</td>
          <td>{{goleador.goles}}</td>
          <td><a class="btn btn-default" href="/admin/jornadas/goleadores/nuevo?key={{goleador.key()}}&amp;jornada={{jornada_key}}" role="button"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><button type="button" class="btn btn-default" data-toggle="modal" id="trash-link" data-id="{{goleador.key()}}" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></button></td>
        </tr>
      {% endfor %}
  	</tbody>
</table>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Borrar goleador</h4>
      </div>
      <div class="modal-body">
        <p>¿Deseas borrar este goleador?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <a class="btn btn-danger" id="accept-button" role="button">Sí, deseo borrarlo</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $("#trash-link").click(function(){ // Click to only happen on announce links
      var id = $(this).data('id');
      $("#accept-button").attr('href', '/admin/jornadas/goleadores/borrar?key=' + $(this).data('id') + '&jornada={{jornada_key}}');
    });
  }); 

  function borrarGoleadores() {
    var checkboxList = $(".checkboxGoleador");
    var data = {};
    checkboxList.each(function(){
      var checkbox = this;
      if (checkbox.checked) {
        data[checkbox.name] = "true";
      }
      data['jornada_key'] = "{{jornada_key}}";
    });
    $.post("/admin/jornadas/goleadores", data);
  }

    function selectAll() {
    var checkboxList = $(".checkboxGoleador");
    var status = $("#select-all")[0].checked;
    checkboxList.each(function() {
      var id = this.id;   
      $("#" + id).prop('checked', status);
    });
  }
</script>
{% endblock %}