{% extends "templates/panel-admin.html" %}
{% block page_title %}Usuarios{% endblock %}
{% block admin_content %}

<br />
<table class="table table-striped" id="table">
	<thead>
  			<tr>
	  			<th>Usuario</th>
	  			<th>Activo</th>
          <th>Administrador</th>
          <th></th>
	  		</tr>
  	</thead>
  	<tbody>
      {% for usuario_item in usuarios %}
        <tr>
          <td>{{usuario_item.nick}}</td>
          <td>{% if usuario_item.activo %} <span class="glyphicon glyphicon-ok"></span> {% endif %}</td>
          <td>{% if usuario_item.admin %} <span class="glyphicon glyphicon-ok"></span> {% endif %}</td>
          <td><a class="btn btn-default" href="/admin/usuarios/nuevo?key={{usuario_item.key()}}" role="button"><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
      {% endfor %}
  	</tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $("#trash-link").click(function(){ // Click to only happen on announce links
      var id = $(this).data('id');
      $("#accept-button").attr('href', '/admin/equipos/borrar?key=' + $(this).data('id'));
    });
  }); 

  function borrarUsuarios() {
    var checkboxList = $(".checkboxUsuario");
    var data = {};
    checkboxList.each(function(){
      var checkbox = this;
      if (checkbox.checked) {
        data[checkbox.name] = "true";
      }
    });
    $.post("/admin/usuarios", data);
  }

    function selectAll() {
    var checkboxList = $(".checkboxUsuario");
    var status = $("#select-all")[0].checked;
    checkboxList.each(function() {
      var id = this.id;   
      $("#" + id).prop('checked', status);
    });
  }
</script>
{% endblock %}