{% extends "templates/panel-admin.html" %}
{% block page_title %}Jornadas{% endblock %}
{% block admin_content %}

<div class="btn-toolbar" role="toolbar">
  <div class="btn-group"><a class="btn btn-default" href="/admin/jornadas/nuevo" role="button"><span class="glyphicon glyphicon-plus"></span> Nueva Jornada</a></div>
  <div class="btn-group"><button type="button" class="btn btn-default" onclick="borrarJornadas()"><span class="glyphicon glyphicon-trash"></span> Eliminar Jornada(s)</button></div>
</div>
<br />
<table class="table table-striped" id="table">
	<thead>
  			<tr>
	  			<th><input type="checkbox" id="select-all" onclick="selectAll()"></th>
	  			<th>Jornada</th>
          <th>Fecha de Inicio</th>
	  			<th></th>
          <th></th>
          <th></th>
	  		</tr>
  	</thead>
  	<tbody>
      {% for jornada in jornadas%}
        <tr>
          <td><input type="checkbox" class="checkboxJornada" name="{{jornada.key()}}" id="check-{{jornada.key()}}"></td>
          <td>Jornada {{jornada.numero}}</td>
          <td>{% if jornada.fecha_inicio == None%} Sin asignar {% else %} {{jornada.fecha_inicio}} {% endif %}</td>
          <td><a class="btn btn-default" href="/admin/jornadas/nuevo?key={{jornada.key()}}" role="button"><span class="glyphicon glyphicon-pencil"></span></a></td>
          <td><a class="btn btn-default" href="/admin/jornadas/borrar?key={{jornada.key()}}" role="button"><span class="glyphicon glyphicon-trash"></span></a></td>
          <td><a class="btn btn-default" href="/admin/jornadas/goleadores?key={{jornada.key()}}" role="button"><span class="icon-football-soccer"></span></a></td>
        </tr>
      {% endfor %}
  	</tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $.each($("#trash-link"), function(key, value) {
        value.click(function(){
          var id = $(this).data('id');
          $("#accept-button").attr('href', '/admin/jornadas/borrar?key=' + $(this).data('id'));
        });
    });
  }); 

  function borrarJornadas() {
    var checkboxList = $(".checkboxJornada");
    var data = {};
    checkboxList.each(function(){
      var checkbox = this;
      if (checkbox.checked) {
        data[checkbox.name] = "true";
      }
    });
    $.post("/admin/jornadas", data);
  }

    function selectAll() {
    var checkboxList = $(".checkboxJornada");
    var status = $("#select-all")[0].checked;
    checkboxList.each(function() {
      var id = this.id;   
      $("#" + id).prop('checked', status);
    });
  }
</script>
{% endblock %}