{% extends "templates/panel-admin.html" %}

{% block page_title %}
	Pronósticos globales {% if fecha_limit != None %} (Fecha límite:  {{fecha_limite}}){% endif %}
{% endblock %}}

{% block admin_content %}
	<div class="well">
		<form class="form-horizontal" role="form" action="/pronostico-global" method="post">
			<div class="form-group" id="campeon-invierno-group">
				<label for="campeon-invierno" class="col-sm-3 control-label">Campeón de invierno</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-invierno" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for equipo in equipos %}
					  	{% if equipo.lfp == True %}
					  		<option value="{{equipo.key()}}" {% if pronostico_global.campeon_invierno %} {% if equipo.key() == pronostico_global.campeon_invierno.key() %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
					  	{% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-liga-group">
				<label for="campeon-liga" class="col-sm-3 control-label">Campeón de liga</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-liga" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for equipo in equipos %}
					  	{% if equipo.lfp == True %}
					  		<option value="{{equipo.key()}}" {% if pronostico_global.campeon_liga %} {% if equipo.key() == pronostico_global.campeon_liga.key() %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
					  	{% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-copa-group">
				<label for="campeon-copa" class="col-sm-3 control-label">Campeón de copa</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-copa" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for equipo in equipos %}
					  	{% if equipo.lfp %}
					  		<option value="{{equipo.key()}}" {% if pronostico_global.campeon_copa %} {% if equipo.key() == pronostico_global.campeon_copa.key() %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
					  	{% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>

	  {% for n in range(4) %}
        <div class="form-group" id="champions-{{n+1}}-group">
          <label for="champions-{{n+1}}" class="col-sm-3 control-label">Puesto champions ({{n+1}})</label>
          <div class="col-sm-5">
            <select class="form-control" name="champions-{{n+1}}">
              <option value=""></option>
              {% for equipo in equipos %}
                {% if equipo.lfp == True %}
                  {% if n == 0 %}
                    <option value="{{equipo.key()}}" {% if pronostico_global.puestos_champions.0 %} {% if equipo.key() == pronostico_global.puestos_champions.0 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
                  {% elif n == 1 %}
                    <option value="{{equipo.key()}}" {% if pronostico_global.puestos_champions.1 %} {% if equipo.key() == pronostico_global.puestos_champions.1 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
                  {% elif n == 2 %}
                    <option value="{{equipo.key()}}" {% if pronostico_global.puestos_champions.2 %} {% if equipo.key() == pronostico_global.puestos_champions.2 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
                  {% elif n == 3 %}
                    <option value="{{equipo.key()}}" {% if pronostico_global.puestos_champions.3 %} {% if equipo.key() == pronostico_global.puestos_champions.3 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      {% endfor %}

			{% for n in range(2) %}
				<div class="form-group" id="uefa-{{n+1}}-group">
					<label for="uefa-{{n+1}}" class="col-sm-3 control-label">Puesto UEFA ({{n+1}})</label>
					<div class="col-sm-5">
						<select class="form-control" name="uefa-{{n+1}}" {% if disabled %} disabled {% endif %}>
						  <option value=""></option>
						  {% for equipo in equipos %}
						  	{% if equipo.lfp == True %}
							  	{% if n == 0 %}
							  		<option value="{{equipo.key()}}" {% if pronostico_global.puestos_uefa.0 %} {% if equipo.key() == pronostico_global.puestos_uefa.0 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
							  	{% elif n == 1 %}
							  		<option value="{{equipo.key()}}" {% if pronostico_global.puestos_uefa.1 %} {% if equipo.key() == pronostico_global.puestos_uefa.1 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
							  	{% endif %}
							{% endif %}
						  {% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}

			{% for n in range(3) %}
				<div class="form-group" id="descenso-{{n+1}}-group">
					<label for="descenso-{{n+1}}" class="col-sm-3 control-label">Puesto descenso ({{n+1}})</label>
					<div class="col-sm-5">
						<select class="form-control" name="descenso-{{n+1}}" {% if disabled %} disabled {% endif %}>
						  <option value=""></option>
						  {% for equipo in equipos_liga %}
						  	{% if equipo.lfp == True %}
							  	{% if n == 0 %}
							  		<option value="{{equipo.key()}}" {% if pronostico_global.puestos_descenso.0 %} {% if equipo.key() == pronostico_global.puestos_descenso.0 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
							  	{% elif n == 1 %}
							  		<option value="{{equipo.key()}}" {% if pronostico_global.puestos_descenso.1 %} {% if equipo.key() == pronostico_global.puestos_descenso.1 %} selected {% endif %} {% endif %} >{{equipo.nombre}}</option>
							  	{% elif n == 2 %}
							  		<option value="{{equipo.key()}}" {% if pronostico_global.puestos_descenso.2 %} {% if equipo.key() == pronostico_global.puestos_descenso.2 %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
							  	{% endif %}
							{% endif %}
						  {% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}

			<div class="form-group" id="campeon-champions-group">
				<label for="campeon-champions" class="col-sm-3 control-label">Campeón champions</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-champions" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for equipo in equipos %}
					  	{% if equipo.champions == True %}
					  		<option value="{{equipo.key()}}" {% if pronostico_global.campeon_champions %} {% if equipo.key() == pronostico_global.campeon_champions.key() %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
					  	{% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-uefa-group">
				<label for="campeon-uefa" class="col-sm-3 control-label">Campeón UEFA</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-uefa" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for equipo in equipos %}
					  	{% if equipo.uefa == True or equipo.champions == True %}
					  		<option value="{{equipo.key()}}"  {% if pronostico_global.campeon_uefa %} {% if equipo.key() == pronostico_global.campeon_uefa.key() %} selected {% endif %} {% endif %}>{{equipo.nombre}}</option>
					  	{% endif %}
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="zamora-group">
				<label for="zamora" class="col-sm-3 control-label">Zamora</label>
				<div class="col-sm-5">
					<select class="form-control" name="zamora" {% if disabled %} disabled {% endif %}>
					  <option value=""></option>
					  {% for portero in porteros %}
					  	<option value="{{portero.key()}}" {% if pronostico_global.zamora %} {% if portero.key() == pronostico_global.zamora.key() %} selected {% endif %} {% endif %}>{{portero.nombre}} ({{portero.equipo.nombre}})</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<input type="hidden" name="key" value="{{pronostico_global.key()}}">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default" {% if disabled %} disabled {% endif %}>Guardar</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block scripts %}

{% endblock%}