{% extends "templates/panel-admin.html" %}

{% block page_title %}
	Pronósticos globales
{% endblock %}}

{% block admin_content %}

	<div class="well">
		<form class="form-horizontal" role="form" action="/pronosticos/nuevo" method="post">
			<div class="form-group" id="campeon-invierno-group">
				<label for="campeon-invierno" class="col-sm-3 control-label">Campeón de invierno</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-invierno">
					  <option value=""></option>
					  {% for equipo in equipos_liga %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-liga-group">
				<label for="campeon-liga" class="col-sm-3 control-label">Campeón de liga</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-liga">
					  <option value=""></option>
					  {% for equipo in equipos_liga %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-copa-group">
				<label for="campeon-copa" class="col-sm-3 control-label">Campeón de copa</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-copa">
					  <option value=""></option>
					  {% for equipo in equipos_liga %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="champions-group">
				<label for="champions" class="col-sm-3 control-label">Puesto champions</label>
				<div class="col-sm-5">
					<select class="form-control" name="champions">
					  <option value=""></option>
					  {% for equipo in equipos_liga %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			{% for n in range(2) %}
				<div class="form-group" id="uefa-{{n+1}}-group">
					<label for="uefa-{{n+1}}" class="col-sm-3 control-label">Puesto UEFA ({{n+1}})</label>
					<div class="col-sm-5">
						<select class="form-control" name="uefa-{{n+1}}">
						  <option value=""></option>
						  {% for equipo in equipos_liga %}
						  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
						  {% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}

			{% for n in range(3) %}
				<div class="form-group" id="descenso-{{n+1}}-group">
					<label for="descenso-{{n+1}}" class="col-sm-3 control-label">Puesto descenso ({{n+1}})</label>
					<div class="col-sm-5">
						<select class="form-control" name="descenso-{{n+1}}">
						  <option value=""></option>
						  {% for equipo in equipos_liga %}
						  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
						  {% endfor %}
						</select>
					</div>
				</div>
			{% endfor %}

			<div class="form-group" id="campeon-champions-group">
				<label for="campeon-champions" class="col-sm-3 control-label">Campeón champions</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-champions">
					  <option value=""></option>
					  {% for equipo in equipos_champions %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="campeon-uefa-group">
				<label for="campeon-uefa" class="col-sm-3 control-label">Campeón UEFA</label>
				<div class="col-sm-5">
					<select class="form-control" name="campeon-uefa">
					  <option value=""></option>
					  {% for equipo in equipos_uefa %}
					  	<option value="{{equipo.key()}}">{{equipo.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<div class="form-group" id="zamora-group">
				<label for="zamora" class="col-sm-3 control-label">Zamora</label>
				<div class="col-sm-5">
					<select class="form-control" name="zamora">
					  <option value=""></option>
					  {% for portero in porteros %}
					  	<option value="{{portero.key()}}">{{portero.nombre}}</option>
					  {% endfor %}
					</select>
				</div>
			</div>

			<input type="hidden" name="key" value="{{pronostico_global.key()}}">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">Guardar</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
{% block scripts %}
	
{% endblock%}